<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <div class = 'flex_wrapper'>
      <h1><%= title %></h1>
      <form id="crear_verbos" method="POST">
        <input type= "text" name="verbo" placeholder="verbo">
        <input type= "text" name="yo" placeholder="yo">
        <input type= "text" name="tú" placeholder="tú">
        <input type= "text" name="él/ella/Usted" placeholder="él/ella/Usted">
        <input type= "text" name="nosotros" placeholder="nosotros">
        <input type= "text" name="vosotros" placeholder="vosotros">
        <input type= "text" name="ellos/ellas/Ustedes" placeholder="ellos/ellas/Ustedes">
        <input type= "text" name="tense" placeholder="Input tense">
        <input type ="submit" value="Submit">
      </form>
      </div>


    <footer class = 'contribuciones'>
      <span><a href="./">Hogar</a></span>
      <span>Sobre</span>
      <span>Contacto</span>
    </footer>

  <% include ./partials/scripts %>
  </body>
</html>
