<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <div class = 'flex_wrapper'>
      <h1><%= title %></h1>
      <form action="/present-tense" id="crear_verbos" method="POST">
        <input class="contribute" type= "text" name="Verbo" placeholder="Verbo">
        <input class="contribute" type= "text" name="Yo" placeholder="Yo">
        <input class="contribute" type= "text" name="tú" placeholder="Tú">
        <input class="contribute" type= "text" name="él/ella/Usted" placeholder="Él/Ella/Usted">
        <input class="contribute" type= "text" name="nosotros" placeholder="Nosotros">
        <input class="contribute" type= "text" name="vosotros" placeholder="Vosotros">
        <input class="contribute" type= "text" name="ellos/ellas/Ustedes" placeholder="Ellos/Ellas/Ustedes">
        <select name="tense" id="tense">
          <option value="present">Present</option>
          <option value="preterite">Preterite</option>
          <option value="future">Future</option>
          <option value="conditional">Conditional</option>
        </select>
        <input class="contribute" type ="submit" value="Submit">
      </form>
      </div>


    <footer class = 'contribuciones'>
      <span><a href="./">Hogar</a></span>
      <span>Sobre</span>
      <span>Contacto</span>
    </footer>

    <% if(data) { %>
        <% include ./partials/users %>
       <% } %>


  <% include ./partials/scripts %>
  </body>
</html>
