<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <div class = 'flex_wrapper'>
      <h1><%= title %></h1>
      <form id="crear_verbos" method="POST">
        <input type= "text" name="Verbo" placeholder="Verbo">
        <input type= "text" name="Yo" placeholder="Yo">
        <input type= "text" name="tú" placeholder="Tú">
        <input type= "text" name="él/ella/Usted" placeholder="Él/Ella/Usted">
        <input type= "text" name="nosotros" placeholder="Nosotros">
        <input type= "text" name="vosotros" placeholder="Vosotros">
        <input type= "text" name="ellos/ellas/Ustedes" placeholder="Ellos/Ellas/Ustedes">
        <input type= "text" name="tense" placeholder="Input tense">
        <input type ="submit" value="Submit">
      </form>
      </div>


    <footer class = 'contribuciones'>
      <span><a href="./">Hogar</a></span>
      <span>Sobre</span>
      <span>Contacto</span>
    </footer>

  <% include ./partials/scripts %>
  </body>
</html>
