<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <div class = 'flex_wrapper'>
      <h1><%= title %></h1>
      <form id="dame_verbos" method="">
        <input id = 'verb_input' type= "text" name="verbo" placeholder="dame verbos">
        <!-- <input id = 'tense_input' type= "text" name="tense" placeholder="tense"> -->
        <input id ='get_verbs' type ="submit" value="Conjugate verb">
      </form>
      <div class ='mostrame'>
        <ul id = verb-list>
          <li>Yo:<span id = 'singular-first'></span></li>
          <li>Tú:<span id ='singular-second'></span></li>
          <li>él/ella/Usted:<span id ='singular-third'></span></li>
          <li>Nosotros:<span id ='plural-first'></span></li>
          <li>Vosotros:<span id='plural-second'></span></li>
          <li>Ellos/Ellas/Ustedes:<span id ='plural-third'></span></li>
        </ul>
      </div>
    </div>


    <footer class ='front-page'>
      <span><a href="./">Hogar</a></span>
      <span>Sobre</span>
      <span><a href="./contribuciones">Contribucíones</a></span>
      <span>Contacto</span>
    </footer>

  <% include ./partials/scripts %>
  </body>
</html>
