<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <div class = 'flex_wrapper'>
      <h1><%= title %></h1>
      <form id="dame_verbos" method="GET">
        <input type= "text" name="verbo" placeholder="dame verbos">
        <select name="tense">
            <option value ="present">Present</option>
            <option value ="preterite">Preterite</option>
            <option value ="future">Future</option>
            <option value ="conditional">Conditional</option>
        <input id ='get_verbs' type ="submit" value="Conjugate verb">
      </form>
      <div class ='mostrame'></div>
    </div>


    <footer class ='front-page'>
      <span><a href="./">Hogar</a></span>
      <span>Sobre</span>
      <span><a href="./contribuciones">Contribucíones</a></span>
      <span>Contacto</span>
    </footer>

  <% include ./partials/scripts %>
  </body>
</html>
