<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <div class = 'flex_wrapper'>
      <h1><%= title %></h1>
      <div id="wrap">
      </div>


    <footer>
      <span>Hogar</span>
      <span>Sobre</span>
      <span>Contribucíones</span>
      <span>Contacto</span>
    </footer>

  <% include ./partials/scripts %>
  </body>
</html>
